.editempgroup {
  margin-bottom: 1rem;
  display: flex;
  gap: 3px;
  justify-content: center;
}

.editemp-save {
  padding: 8px 10px;
  background-color: #FFC300;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editemp-save:hover {
  background-color: #F4D03F;
}
/* Add a class for the container to enable scrolling */
.scroll-container {
  max-height: 400px;
  overflow-y: auto; 
}
.editemp-close {
  padding: 8px 10px;
  background-color: #f10707e4;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editemp-close:hover {
  background-color: #db3535e4;
}
