.empcontainer {
  padding: 0 10px; /* Adjust padding as needed */
}

.empheader {
  text-align: center;
  margin-bottom: 20px;
}

/* Button styles */
.empcustom-btn {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*add employee button starts*/
.empcenter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.empcustom-content {
  width: 25%;
}

.emp-btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #008738;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.emp-btn:hover {
  background-color: #3abd73;
}

@media screen and (max-width: 768px) {
  .empcustom-content {
    width: 40%;
  }
}

/* Add this CSS in your existing stylesheet or create a new one */
@media (max-width: 600px) {
  /* Hide the Email, Address, Salary, and Category columns on screens with a width of 768px or less */
  .table th:nth-child(2),
  .table td:nth-child(2),
  .table th:nth-child(4),
  .table td:nth-child(4),
  .table th:nth-child(5),
  .table td:nth-child(5) {
    display: none;
  }
}
/* employeeCards.css */

.employee-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.employee-card {
  flex: 0 1 calc(33.33% - 20px); /* Adjust the percentage and gap as needed */
  background: #fff;
  box-shadow: 5px 5px 12px #d3d3d3, -5px -5px 12px #f2f2f2;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
  max-width: 33%;
  max-height: 300px;
  overflow-y: auto;
}

.employee-card::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.employee-card::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

.employee-card::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
}

.employee-card::-webkit-scrollbar-thumb:hover {
  background-color: #b7b7b7;
}
/* For Firefox */
.employee-card {
  scrollbar-width: thin;
  scrollbar-color: #e5e5e5 #f4f4f4;
}

/* For Internet Explorer and Edge */
.employee-card {
  -ms-overflow-style: none;
}

.employee-card::-ms-scrollbar-thumb {
  background-color: #b7b7b7;
}

.employee-card::-ms-scrollbar-track {
  background-color: #f4f4f4;
}

.employee-card p {
  margin-bottom: 16px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.employee-card:hover p {
  white-space: normal;
  overflow: visible; /* Allow overflow for single long words */
}

@media (max-width: 768px) {
  .employee-card {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.employee-card h4 {
  margin-bottom: 8px;
}

.employee-card-actions {
  display: flex;
  justify-content: space-between;
}

.employee-card-actions button {
  padding: 8px;
  margin: 0;
  cursor: pointer;
}

.customedit {
  background-color: #154360;
  color: #fff;
  border: 1px solid #13aad8;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
.customedit:hover {
  background-color: #11647e;
  border-color: #0193c0;
}
.customdelete {
  background-color: crimson;
  color: #fff;
  border: 1px solid #ae4545e4;
  padding: 6px 12px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
.customdelete:hover {
  background-color: #ce3c3ce4;
  border-color: #d70303e4;
}

/* Add these styles to your existing CSS file */

.no-data-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nodata {
  max-width: 30%;
  height: auto;
}

.no-data-text {
  margin-top: 16px;
  font-size: 18px;
  color: #555; /* Adjust the color as needed */
  text-align: center;
}
